.el-header{

    color: #333;
    border: #889aa4 solid 1px;
    height: 180px;
}
td{
    border: gainsboro solid 1px;
    width: 50px;
    height: 45px;
    text-align: center;
}

.el-aside{
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
    width: 20%;
    height: 900px;
    border: #889aa4 solid 1px;
    float: left;
}

.el-main{
    background-color: #8c939d;
    color: #333;
    height: 900px;
    border: #889aa4 solid 1px;
}
.data{
    float: left;
}
.el-button{
    border: #889aa4 solid 1px;
    margin-left: 300px;
    margin-bottom: 80px;
    padding: 0px;
    height: 100%;
    width: 100px;
}

