<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入ElementUI组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/mainpage/update.css">
    <script src="js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../css/therepage/four.css">
    <style>
        .el_Right{
            float: right;
        }
    </style>

</head>
<body>
<div id="app">
    <el-container>
        <el-header>
        </el-header>
        <el-main>
            <div class="el-bo">
                <div class="el-div">
                    <span>onethere:</span>
                    <el-radio-group v-model="radio1">
                        <el-radio-button label="01"></el-radio-button>
                        <el-radio-button label="02"></el-radio-button>
                        <el-radio-button label="03"></el-radio-button>
                        <el-radio-button label="04"></el-radio-button>
                        <el-radio-button label="05"></el-radio-button>
                        <el-radio-button label="06"></el-radio-button>
                        <el-radio-button label="07"></el-radio-button>
                        <el-radio-button label="08"></el-radio-button>
                        <el-radio-button label="09"></el-radio-button>
                        <el-radio-button label="10"></el-radio-button>
                    </el-radio-group>
                </div>
                <div class="el-div">
                    <span>twothere:</span>
                    <el-radio-group v-model="radio2">
                        <el-radio-button label="01"></el-radio-button>
                        <el-radio-button label="02"></el-radio-button>
                        <el-radio-button label="03"></el-radio-button>
                        <el-radio-button label="04"></el-radio-button>
                        <el-radio-button label="05"></el-radio-button>
                        <el-radio-button label="06"></el-radio-button>
                        <el-radio-button label="07"></el-radio-button>
                        <el-radio-button label="08"></el-radio-button>
                        <el-radio-button label="09"></el-radio-button>
                        <el-radio-button label="10"></el-radio-button>
                    </el-radio-group>
                </div>
                <div class="el-div">
                    <span>thethere:</span>
                    <el-radio-group v-model="radio3">
                        <el-radio-button label="01"></el-radio-button>
                        <el-radio-button label="02"></el-radio-button>
                        <el-radio-button label="03"></el-radio-button>
                        <el-radio-button label="04"></el-radio-button>
                        <el-radio-button label="05"></el-radio-button>
                        <el-radio-button label="06"></el-radio-button>
                        <el-radio-button label="07"></el-radio-button>
                        <el-radio-button label="08"></el-radio-button>
                        <el-radio-button label="09"></el-radio-button>
                        <el-radio-button label="10"></el-radio-button>
                    </el-radio-group>
                </div>
                <div class="el-data">
                    <div>
                        <el-tag>data:</el-tag>
                        <el-tag >{{radio1}}</el-tag>
                        <el-tag >{{radio2}}</el-tag>
                        <el-tag >{{radio3}}</el-tag>
                        <template >
                            <el-button :plain="true" v-on:click="submit" style="text-decoration-style: solid" >submit</el-button>
                        </template>
                    </div>

                </div>
            </div>
        </el-main>
    </el-container>
    <div>
        <el-tabs type="border-card">
            <!--oneData-->
            <el-tab-pane>
                <span slot="label">oneData</span>
                <template>
                        <div class="demo">
                            <div class="el-aside">
                                <table>
                                    <tr v-for="(item,index) in oneData">
                                        <td><div>{{item.name_one_eig}}</div></td>
                                        <td><div>{{item.name_two_eig}}</div></td>
                                        <td><div>{{item.name_the_eig}}</div></td>
                                        <td><div>{{item.name_fou_eig}}</div></td>
                                        <td><div>{{item.name_fiv_eig}}</div></td>
                                        <td><div>{{item.name_six_eig}}</div></td>
                                        <td><div>{{item.name_sev_eig}}</div></td>
                                        <td><div>{{item.name_eig_eig}}</div></td>
                                        <td><div>{{item.now_eig}}</div></td>
                                        <td><div>{{item.before_eig}}</div></td>
                                        <td>
                                            <div>
                                                <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                            <!--eight-->
                            <div class="eight">
                                <table>
                                    <thead>
                                    <tr>
                                        <td>sevenOne</td>
                                        <td>sevenTwo</td>
                                        <td>sevenThe</td>
                                        <td>sevenFou</td>
                                        <td>sevenFiv</td>
                                        <td>sevenSix</td>
                                        <td>sevenSev</td>
                                        <td>sevenNow</td>
                                        <td>sevenBefore</td>
                                    </tr>
                                    </thead>
                                    <tr v-for="(item,index) in sevenData">
                                        <td><div>{{item.name_one_Scg}}</div></td>
                                        <td><div>{{item.name_two_Scg}}</div></td>
                                        <td><div>{{item.name_the_Scg}}</div></td>
                                        <td><div>{{item.name_fou_Scg}}</div></td>
                                        <td><div>{{item.name_fiv_Scg}}</div></td>
                                        <td><div>{{item.name_six_Scg}}</div></td>
                                        <td><div>{{item.name_sev_Scg}}</div></td>
                                        <td><div>{{item.now_Scg}}</div></td>
                                        <td><div>{{item.before_Scg}}</div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                </template>
            </el-tab-pane>
            <!--twoData-->
            <el-tab-pane>
                <span slot="label"  v-on:click="twoDataFun">twoData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>
            <!--therData-->
            <el-tab-pane>
                    <span slot="label"  v-on:click="therDataFun">therData</span>
                    <template>
                            <div class="demo">
                                <div class="el-aside">
                                    <table>
                                        <tr v-for="(item,index) in eightData">
                                            <td><div>{{item.name_one_eig}}</div></td>
                                            <td><div>{{item.name_two_eig}}</div></td>
                                            <td><div>{{item.name_the_eig}}</div></td>
                                            <td><div>{{item.name_fou_eig}}</div></td>
                                            <td><div>{{item.name_fiv_eig}}</div></td>
                                            <td><div>{{item.name_six_eig}}</div></td>
                                            <td><div>{{item.name_sev_eig}}</div></td>
                                            <td><div>{{item.name_eig_eig}}</div></td>
                                            <td><div>{{item.now_eig}}</div></td>
                                            <td><div>{{item.before_eig}}</div></td>
                                            <td>
                                                <div>
                                                    <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                                <!--eight-->
                                <div class="eight">
                                    <table>
                                        <thead>
                                        <tr>
                                            <td>sevenOne</td>
                                            <td>sevenTwo</td>
                                            <td>sevenThe</td>
                                            <td>sevenFou</td>
                                            <td>sevenFiv</td>
                                            <td>sevenSix</td>
                                            <td>sevenSev</td>
                                            <td>sevenNow</td>
                                            <td>sevenBefore</td>
                                        </tr>
                                        </thead>
                                        <tr v-for="(item,index) in sevenData">
                                            <td><div>{{item.name_one_Scg}}</div></td>
                                            <td><div>{{item.name_two_Scg}}</div></td>
                                            <td><div>{{item.name_the_Scg}}</div></td>
                                            <td><div>{{item.name_fou_Scg}}</div></td>
                                            <td><div>{{item.name_fiv_Scg}}</div></td>
                                            <td><div>{{item.name_six_Scg}}</div></td>
                                            <td><div>{{item.name_sev_Scg}}</div></td>
                                            <td><div>{{item.now_Scg}}</div></td>
                                            <td><div>{{item.before_Scg}}</div></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                    </template>
            </el-tab-pane>
            <!--fouData-->
            <el-tab-pane>
                <span slot="label"  v-on:click="fouDataFun">fouData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>
            <!--sevenData-->
            <el-tab-pane>
                <span slot="label"  v-on:click="fivDataFun">fivData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>
            <!--eightData-->
            <el-tab-pane>
                <span slot="label"  v-on:click="sixDataFun">sixData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>
            <!--shuData-->
            <el-tab-pane>
                <span slot="label" v-on:click="sevnDataFun" >sevData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>

            <!--eightData-->
            <el-tab-pane>
                <span slot="label" v-on:click="eightDataFun" >eightData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>

            <!--nineData-->
            <el-tab-pane>
                <span slot="label" v-on:click="nineDataFun" >nineData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>

            <!--tenData-->
            <!--nineData-->
            <el-tab-pane>
                <span slot="label" v-on:click="tenDataFun" >tenData</span>
                <template>
                    <div class="demo">
                        <div class="el-aside">
                            <table>
                                <tr v-for="(item,index) in eightData">
                                    <td><div>{{item.name_one_eig}}</div></td>
                                    <td><div>{{item.name_two_eig}}</div></td>
                                    <td><div>{{item.name_the_eig}}</div></td>
                                    <td><div>{{item.name_fou_eig}}</div></td>
                                    <td><div>{{item.name_fiv_eig}}</div></td>
                                    <td><div>{{item.name_six_eig}}</div></td>
                                    <td><div>{{item.name_sev_eig}}</div></td>
                                    <td><div>{{item.name_eig_eig}}</div></td>
                                    <td><div>{{item.now_eig}}</div></td>
                                    <td><div>{{item.before_eig}}</div></td>
                                    <td>
                                        <div>
                                            <input type="button" value="对应关系" v-on:click="eightGuanLianThere(item.id_eig)"/>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <!--eight-->
                        <div class="eight">
                            <table>
                                <thead>
                                <tr>
                                    <td>sevenOne</td>
                                    <td>sevenTwo</td>
                                    <td>sevenThe</td>
                                    <td>sevenFou</td>
                                    <td>sevenFiv</td>
                                    <td>sevenSix</td>
                                    <td>sevenSev</td>
                                    <td>sevenNow</td>
                                    <td>sevenBefore</td>
                                </tr>
                                </thead>
                                <tr v-for="(item,index) in sevenData">
                                    <td><div>{{item.name_one_Scg}}</div></td>
                                    <td><div>{{item.name_two_Scg}}</div></td>
                                    <td><div>{{item.name_the_Scg}}</div></td>
                                    <td><div>{{item.name_fou_Scg}}</div></td>
                                    <td><div>{{item.name_fiv_Scg}}</div></td>
                                    <td><div>{{item.name_six_Scg}}</div></td>
                                    <td><div>{{item.name_sev_Scg}}</div></td>
                                    <td><div>{{item.now_Scg}}</div></td>
                                    <td><div>{{item.before_Scg}}</div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </template>
            </el-tab-pane>
        </el-tabs>
    </div>
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            radio1: '00',
            radio2: '00',
            radio3: '00',
            radio4: '00',
            oneData: [],
            fourData:[],
            fiveData:[],
            sixData:[],
            sevenData:[],
            eightData:[],
            shuData:[]
        },
        methods: {
            //查询there所有数据
            findAll(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"01").then((response)=>{
                    this.oneData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },
            submit(){
              var theres={
                  name_one:this.radio1,
                  name_two:this.radio2,
                  name_the:this.radio3
              }
              axios.post("/UpdateAndAdd/update.do",theres).then((response)=>{
                  if(response.data.flag){//成功提示
                      this.$message({
                          type:"success",
                          message:response.data.message
                      });
                  }else{//失败提示
                      this.$message({
                          type:"error",
                          message:response.data.message
                      });
                  }
              }).finally(()=>{
                  this.findAll();
              });

            },
            //查询fourData所有数据
            twoDataFun:function () {
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"02").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },

            //查询fiveData所有数据信息
            therDataFun:function () {
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"03").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },

            //查询six所有数据信息
            fouDataFun:function () {
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"04").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },

            //查询seven所有数据信息
            fivDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"05").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },

            //查询eight所有数据信息
            sixDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"06").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },

            //预测数据信息
            sevnDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"07").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },
            eightDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"08").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },
            nineDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"09").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },
            tenDataFun:function(){
                axios.get("/UpdateAndAdd/yuCeDataFun.do?radio4="+"10").then((response)=>{
                    this.eightData = response.data.result;
                    if(response.data.flag){
                        this.$message({
                            type:"success",
                            message:response.data.message
                        });
                    }else{
                        this.$message({
                            type:"error",
                            message:response.data.message
                        });
                    }
                });
            },
            eightGuanLianThere(id_eig){
                alert(id_eig)
                axios.get("/eight/find_eightGuanLianSeven.do?id="+id_eig).then((response)=>{
                    this.sevenData = response.data.result;
                });
            }
        },
        created(){
            //查询there所有数据
            this.findAll();
        }

    })

</script>
</body>
</html>